@use "../../components/common/_colors";

.screen {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.screenNoData {
  ul {
    position: absolute;
  }
  .button {
    margin: auto 0;
  }
}

.navbarContainer.navbarContainer {
  justify-content: space-between;
}

.topBar {
  padding: 20px;
  display: flex;
}

.button {
  flex: 0 0 auto;
  margin-top: 20px;
}

.sets {
  box-sizing: border-box;
  width: 100%;
  padding: 0 20px 0 8px;
  margin: 0;
}

.set {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;

  & + & {
    margin-top: 20px;
  }
}

.setDelete {
  flex: 0 0 auto;
}

.setName {
  flex: 0 0 auto;
}

.setRepetitions {
  flex: 0 0 auto;
}

.setWeight {
  flex: 0 0 auto;
}

.setRepetitions,
.setWeight {
  input {
    width: 100px;
    height: 40px;
    font-size: 20px;
    text-align: center;
  }
}

.weightUnit {
  flex: 0 0 auto;
}

.setEnter {
  transform: translateX(-390px);
}

.setActiveEnter {
  transform: translateX(0);
  transition: all .25s ease-in;
}

.setExit {
  opacity: 1;
}

.setActiveExit {
  transition: all .25s ease-in;
  transform: translateX(-390px);
}