.screen {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.addNew {
  flex: 0 0 auto;
}

.trainings {
  padding: 0;
}

.training {
  display: flex;
  align-items: center;
}

.trainingDelete {
  flex: 0 0 auto;
}
