@use "../../components/common/_colors";
@use "../../components/common/_fonts";

.authBox {
  flex: 1 1 auto;
  padding: 20px;
  margin: 20px;
  border: 1.5px solid colors.$regular;
  border-radius: 4px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.twoColumns {
  display: grid;
  grid-template-columns: minmax(max-content, 80px) 1fr;
  align-items: center;
  text-align: left;
}
