@use '../../components/common/_colors';
@use '../../components/common/_fonts';

.screen {
  height: 85%;
  display: flex;
  overflow: auto;
  flex-direction: column;
  align-items: center;
}

.buttonScreen {
  height: 12%;
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.navbarContainer.navbarContainer {
  justify-content: space-between;
}

.topBar {
  padding: 20px;
  display: flex;
  justify-content: center;
  font-size: 20px;
  font-family: fonts.$nunito;
}

.button {
  flex: 0 0 auto;
  margin: auto;
  min-width: 150px;
}

.exercises {
  box-sizing: border-box;
  width: 100%;
  padding: 0 20px 0 20px;
  margin: 0;
}

.exercise {
  display: flex;
  align-items: center;

  & + & {
    margin-top: 20px;
  }
}

.exerciseBox {
  flex: 1 1 auto;
  padding: 10px;
  border: 1.5px dashed colors.$regular;
  border-radius: 4px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
