@use '../../components/common/_colors';
@use '../../components/common/_fonts';

.screen {
  height: auto;
  display: flex;
  overflow: auto;
  flex-direction: column;
  align-items: center;
}

.navbarContainer.navbarContainer {
  justify-content: space-between;
}

.switch {
  display: flex;
  align-items: center;
}

.topBar {
  padding: 20px;
  display: flex;
  justify-content: center;
  font-size: 20px;
  font-family: fonts.$nunito;
}

.sets {
  box-sizing: border-box;
  width: 100%;
  padding: 0 20px;
  margin: 0;
}

.set {
  display: flex;
  & + & {
    margin-top: 20px;
  }
}

.setPreview {
  display: flex;
  justify-content: space-between;

  align-items: center;
  padding: 0 10px;
  flex: 1 1 auto;
  font-size: 14px;
  font-family: fonts.$nunito;
}

.setName {
  flex: 0 0 auto;
}

.setRepetitions {
  flex: 0 0 auto;
}

.setWeight {
  flex: 0 0 auto;
}

.setRepetitions,
.setWeight {
  input {
    width: 100px;
    height: 40px;
    font-size: 20px;
    text-align: center;
  }
}

.weightUnit {
  flex: 0 0 auto;
}

.setDone {
  flex: 0 0 auto;
  margin-left: 8%;
}

.history {
  box-sizing: border-box;
  width: 100%;
}

.historyUnit {
  border-bottom: 1px solid #000;
  padding: 10px;
  font-family: fonts.$nunito;
  margin: 20px;
}

.setsDate {
  font-size: 16px;
  font-family: fonts.$nunito;
  margin-bottom: 10px;
}

.setsHistoryBox {
  box-sizing: border-box;
  width: 100%;
  padding: 0 10px;
  margin: 10px 0;
}

.setsByDate {
  display: flex;
  & + & {
    margin-top: 25px;
  }
}

.setUnit {
  flex: 0 0 auto;
}

.setTime {
  flex: 0 0 auto;
}
