.screen {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbarContainer.navbarContainer {
  justify-content: space-between;
}

.topBar {
  padding: 20px;
  display: flex;
}

.button {
  flex: 0 0 auto;
}
