.layout {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  height: 100vh;
}

.layout-top,
.layout-bottom {
  flex: 0 0 auto;
}

.layout-center {
  flex: 1 1 auto;
  overflow-y: auto;
}
