@use "../common/_colors";
@use "../common/_fonts";

.notifications {
  position: fixed;
  right: 16px;
  top: 16px;
  left: 16px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  z-index: 9999;
}

.toast {
  padding: 12px 14px;
  border-radius: 8px;
  color: #fff;
  box-shadow: 0 6px 18px rgba(colors.$regular,0.12);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.toastInfo { background: #2d9cdb; }
.toastSuccess { background: #2db34a; }
.toastError { background: #d9534f; }

.message {
  flex: 1;
  margin-right: 8px;
  font-family: fonts.$nunito;
  font-size: 18px;
}
.closeBtn {
  & svg {
    fill: #fff;
  }
}
