@use "../../components/common/_colors";

.screen {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.trainings {
  padding: 0 20px 0 8px;
  margin: 0;
}

.training {
  display: flex;
  align-items: center;

  & + & {
    margin-top: 20px;
  }
}

.trainingBox {
  flex: 1 1 auto;
  padding: 10px;
  border: 1px solid colors.$regular;
  border-radius: 4px;
}

.trainingDelete {
  flex: 0 0 auto;
}
