@use "../common/_colors";

.active {
  color: colors.$primary;
}

.activeBurger svg {
  fill: colors.$primary;
}

.burger {
  fill: colors.$regular;
  overflow: hidden;
  line-height: 30px;
}

.animationBurger svg {
  animation: .3s linear .1s moveBurger forwards;
}

@keyframes moveBurger {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-41px);
  }
}
